.company_logo_sidebar {
  height: 2.5rem;
  width: 5rem !important;
}
.logo-text {
    text-transform: uppercase;
    padding: 0.5rem 0;
    white-space: nowrap;
    color: #ffffff;
    /* background-color: red; */
    text-decoration: none;
    font-weight: 400;
    line-height: 40px; /* This might need adjustment */
    overflow: hidden;
    display: flex;
    align-items: center; /* Use align-items to center the text vertically */
    /* justify-content: center; Center the text horizontally if needed */
  }
  
  .logo-text {
    /* Your existing styles */
    opacity: 1; /* Ensure text is fully visible */
    transform: none; /* Ensure no transform is applied that could hide the text */
    z-index: 1; /* Ensure text is on top of other elements */
  }
  
  .logo-text:hover {
    /* Your existing hover styles */
    opacity: 1 !important; /* Ensure text remains fully visible on hover */
    color:#ffffff;
    transform: none !important; /* Ensure no transform is applied on hover that could hide the text */
    z-index: 1 !important; /* Ensure text remains on top of other elements on hover */
  }
  