.details_btn {
  /* position: absolute; */
  right: 5%;
  top: 5%;
  /* background-color: red; */
  border-radius: 25%;
  height: 3rem;
  width: 3rem;
  padding: .5rem;
  border-style: ridge;
  border-color: lightgray;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 0px !important;
  border-width: 0rem; /* Adjusted for visibility */
}

.details_btn:hover {
  /* content: attr(data-tooltip); */
  /* position: absolute; */
  background-color: rgba(0, 0, 0, 0.02);
  /* color: #fff; */
  /* padding: 5px; */
  /* border-radius: 5px; */
  /* z-index: 1; */
  /* overflow: hidden; */
  /* top: 2rem; Adjust this value as needed */
}
.usersContainer{
  display: flex;
  flex-direction: row;
  gap: 0rem !important;
  padding-left: 0 !important;
}
.three_div_container {
  display: flex;
  flex-direction: row;
  height: 54.9rem;
  padding: 0 !important;
  /* width: 100%; */
}
.two_div_container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.one_third_div {
  padding-top: 3rem;
  padding-left: 3rem;
  height: 33%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border-bottom: #30416b solid 0.1rem;
  border-left: #30416b solid 0.1rem;
  border-right: #30416b solid 0.1rem; */
}
.two_thirds_div {
  width: 100%;
  border-top-width: 0.15rem;
  border-top-style: ridge;
  border-color: #b78846;
  padding-left: 3rem;
  border-radius: 2% 4% 4% 4%;
  overflow: hidden;
  padding-top: 2rem; /* Add this line to make the div scrollable */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-out;
}

.half_div {
  height: auto;
  padding-top: 3rem;
  width: 50%;
  padding-left: 3rem;
  height: 54rem;
  overflow: hidden;
  border-left-width: 0.15rem;
  border-left-style: ridge;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  border-color: #b78846; /* Add this line to make the div scrollable */
}
.company_img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border-width: 0.1rem;
  border-style: solid;
}
.car_img {
  width: fit-content;
  height: 8rem;
  /* border-radius: 50%; */
  /* border-width: 0.1rem; */
  border-style: solid;
  padding: .2rem;
  background-color: rgb(0,0,0,0.1);
  border-radius: 1rem;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  border-color:#30416b ;
  /* border-right-width:.1rem ; */
  /* padding-right: .4:rem; */
  /* border-right-style: solid; */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: .8rem;
  margin-left: .8rem;
}
.car_img:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover for a 3D effect */
  border-width: 0.15rem;
  transform: scale(1); /* Slightly enlarge on hover */
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); Enhance shadow on hover for a 3D effect */
  /* background-color: #F5F5F5; */
  /* Optional: Add a CSS animation for a more dynamic effect */
  animation: hoverEffect 0.5s ease-in-out forwards;

}
.review_img {
  min-width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  border-radius: 50%;
  border-width: 0.1rem;
  border-style: solid;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.review_div {
  padding:.5rem;
  width: 90%;
  cursor: pointer;
  margin-bottom: 1rem;
  display: flex; 
  flex-direction: column;
   align-items: center;
  /* background-color: red; */
  /* border-bottom-width: 5px ; */
  padding-bottom: 0.5rem;
  border-bottom: #30416b solid 0.1rem;
  border-left: #30416b solid 0.1rem;
  border-right: #30416b solid 0.1rem;
  border-radius: 1rem;
}
.review_div:hover {
  /* Hover effect styling */
  /* background-color: #F5F5F5; */
  transform: scale(1); /* Slightly enlarge on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover for a 3D effect */
  border-bottom: #30416b solid 0.15rem;
  border-left: #30416b solid 0.15rem;
  border-right: #30416b solid 0.15rem;
  /* Optional: Add a CSS animation for a more dynamic effect */
  animation: hoverEffect 0.5s ease-in-out forwards;
}

.car_div {
  padding:.5rem;
  width: 90%;
  cursor: pointer;
  margin-bottom: 1rem;
  /* background-color: red; */
  /* border-bottom-width: 5px ; */
  padding-bottom: 0.5rem;
  border-bottom: #30416b solid 0.1rem;
  border-left: #30416b solid 0.1rem;
  border-right: #30416b solid 0.1rem;
  border-radius: 1rem;
}
.car_div span:hover{
  text-decoration: underline ;
}
/* .car_div div span :hover { */
  /* Hover effect styling */
/* text-decoration: underline; */
/* } */
.car_div:hover {
  /* Hover effect styling */
  border-bottom: #30416b solid 0.15rem;
  border-left: #30416b solid 0.15rem;
  border-right: #30416b solid 0.15rem;
  transform: scale(1); /* Slightly enlarge on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover for a 3D effect */
  /* background-color: #F5F5F5; */
  /* Optional: Add a CSS animation for a more dynamic effect */
  animation: hoverEffect 0.5s ease-in-out forwards;
}

/* Optional CSS animation */
@keyframes hoverEffect {
  0% {
    transform: scale(1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
  }
  50% {
    transform: scale(0.95);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
  }
}
.company_details {
  font-size: 1.1rem;
  text-decoration-line: underline;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
/* html, body {
	 height: 100%;
	 background: radial-gradient(#003, #000);
	 overflow: hidden;
	 color: #fff;
	 font-family: 'Open Sans';
	 font-size: 18px;
} */
.half-width-full-height,
.half-width-half-height {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border: 2px solid #b78846;
}
.half-width-full-height:before,
.half-width-half-height:before,
.half-width-full-height:after,
.half-width-half-height:after {
  content: "•";
  /* position: absolute; */
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: #b78846;
  border: 2px solid #b78846;
  line-height: 12px;
  top: 5px;
  text-align: center;
}
.half-width-full-height:before,
.half-width-half-height:before {
  left: 5px;
}
.half-width-full-height:after,
.half-width-half-height:after {
  right: 5px;
}
.half-width-full-height {
  width: 100%;
  height: 100%;
}
.half-width-half-height {
  width: 50%;
  height: 50%;
}
